@font-face {
    font-family: ru_01;
    src: url('C:/angular/My_oneNote2/uploads/Tolkien.ttf');
}
@font-face {
    font-family: ru_02;
    src: url('C:/angular/My_oneNote2/uploads/Whitehall.ttf');
}
@font-face {
    font-family: ru_03;
    src: url('C:/angular/My_oneNote2/uploads/Nexa_Script.ttf');
}